/*oculta elementos*/
html{
  font-size: 20px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
}
.btn-sm{
  height: 2rem;
  width: 2rem;
  font-size: 1.2rem;
  border-radius:0.5rem;
}
:root{
--paginaactiva: #037E8C;
--paginas:#044a52;
/*tamaño barras*/
--wsedb:12.5rem;
/* variables barras*/
--fondo:#000000;
--letra:#ffffff;
--letrar:#000000;
--fondor:#ffffff;
/* fondos genenrales */
--fondocla:#ffffff;
--textoclaro:#000000;
--textoobscuro:#ffffff;
--fondoobs:#252525;
}
.boton1, .boton2{
  background-color:#6c757d ;
  border-radius: 0.5rem;
  padding: 0.25rem;
  padding-right: 0.75rem;
  border: 1px solid #000000;
} 
.brojo{
  background-color: #ff0000;
}
.icono,.icono2,.icono3 {
  padding: 0;
  margin: 0;
}
.icono img{
  width :2rem;
  height: 2rem;
}
.icono2 img,.icono3{
  width:  2rem;
  height: 2rem;
}
section{
  position: relative;
  height: 100%;
}
.hidden{
    display: none !important;
  }
.misearch{
  width: 25rem;
  height: 3rem;
  border-radius: .75rem;
  border: 2px solid rgb(0, 0, 0);
}
/* se encarga de los estilos de la paginacion*/
.pagina,.paginad,.paginaactive {
    margin: 0px 1px;
    min-width: 2.5rem;
    height: 2rem;
    color: #fff;
    background-color: var(--paginas);
    border: none;
   }
.pagina {
  cursor: pointer;}
.pagina:hover,.paginaactive {
    background: var(--paginaactiva);}
.elementosporpagina div{
  display: inline;
}
.elementosporpagina select{
  width: 4rem; 
  height: 2rem;
}
.viewelements{
  margin-top: 1rem;
}
.mimagen{
  width: 100%;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
/* se encarga de las pantallas de carga*/
.spinnerp {
    border: 0.5rem solid #f3f3f3; /* Light grey */
    border-top: 0.5rem solid #3498db; /* Blue */
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation: spin 1s linear infinite;
    }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }}
/* ajusta la altura y en donde se centran los modales*/
.logos{
  display: flex;
  justify-content: center;
  align-items: center; }
.modal-content {
  max-height: 92vh;
  width: auto;
  margin: auto;}
.modal-body {
  max-height: 80vh; 
  overflow-y: auto; }
.modal-header{
  justify-content: space-between;
}
.viewfile{
  height: 90vh;
  max-height: none;
  width: 37.5rem;
  overflow: hidden;
  --bs-modal-width: none;
}
.ajustarmodal{
  --bs-modal-width: none;
}
.viewfile iframe{
  width: 100%;
  height: 100%;
}

.container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;}
/* Barrasuperior */
.mtopbar {
  border-radius: 0.7rem;
  background-color: var(--fondo);
  color:var(--letra);
  width: 100%;
  height: 3.5em;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}
.mtopbar nav{
  position: absolute;
  width: 100%;
}
.mtopbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mtopbar ul li{
  display: inline-flex;

}

.mtopbar ul li a{
  padding: 0.75rem;
  margin: 0.75rem;
  color: var(--letra);
}
 .mtopbar .topbar-center{
  align-items: center;
  justify-content: center;
  flex-grow: 1;
 }

/* Estilos generales para la barra lateral */
.msidebar {
  background-color: var(--fondo);
  width: var(--wsedb);
  height: calc(100% - 2rem);
  border-radius: 0.75rem;
  position: fixed;
  margin: 1rem;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: width 0.7s;
}
.logotipo{
  display:flex !important;
  height: 3.5em;
  color: #000000;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  border: 1px solid black;
  background-color: #fff;
  border-top-right-radius:0.75em;
  border-top-left-radius: 0.75em;
}

.logoimg{
  height: 2.6em;
}
.msidebar-links {
  padding: 0;
  margin: 0;
}
.msidebar-links li {
  width: 100%;
  position: relative;
  display: inline-block;

}

.msidebar-links li a{
  display: flex;
  align-items: center;
  min-height: 3em;
  width: 100%;
  border-radius: 0.75em;
  border-left:0.3em solid var(--fondo);
  border-right:0.3em solid var(--fondo);
  color: var(--letra) !important;
  text-decoration: none;
}
.logotipo a{
  border-left: 0 !important;
  border-right: 0 !important;
  width: auto !important;
}
.msidebar-links li a i{
  display: flex; 
  align-items:center;
  justify-content: center;
  min-width: 4em;
  height: 1em;
} 
.msidebar-links li:hover > a {
  background-color: var(--fondor);
  color:var(--letrar) !important;
  transition: background-color 1s,color 1s;
}

.msidebar-links li ul {
  display: none;
  padding:0;
  margin: 0;
  border-left: 0.3em solid transparent;
  position: absolute;
  left: 100%;
  top: 0%;
  min-width: 12rem;
} 
.msidebar-links li ul div{
  background-color: var(--fondo);
  border-radius: 0.75rem;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
}

.msidebar-links li:hover > ul {
  display: block;
}

/*footer*/
.body-container {
  display: flex;
  flex-direction: column;
  transition: 0.7s;
  margin: 1rem;
  margin-left:calc(var(--wsedb) + 1.5rem);
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Contenido principal */
.content, .card {
  min-height: calc(100vh - 11rem); /* Toma todo el espacio disponible - el tamaño y margen de topbar,el margen de body, y el tamaño del fotter*/
}
.encabezado select{
  width: 11rem;
  height: 3rem;}  
/* Estilos del footer */
.footer {
  height: 4rem;
  padding: 1rem;
  text-align: center;
}
.mitabla{
  margin-top: 1rem;
  overflow-x: auto !important;
 }

tr td {
  height: 2rem;
   /* Color de fondo alternado */
}

td,th,tr{
  border: 0.1rem var(--textoobscuro) solid; 
}
.button_options{
 width: 5.3rem;/* la suma de los icono mas el pading del div mas el pading del td mas un poco de separacion*/
}
.button_options2{
width: 7.5rem;/* la suma de los icono mas el pading del div mas el pading del td mas un poco de separacion*/
 }
.Datatable-content{
  display: inline-block;
  padding:0.25rem ;
}
.Datatable-content-button{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  padding: 0.25rem;
}


 .carga{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 }

 .active-sidebar {
  width: 3.5rem;
}

.active-msidebar-links{
  padding: 0; /* Ajuste del padding cuando active está presente */
}

.active-msidebar-links li a span {
  display: none; /* Ajuste del padding cuando active está presente */
}
.active-msidebar-links li a i {
  min-width: 2.9rem; /* Ajuste del padding cuando active está presente */
}
.active-body-container {
  margin-left: 5.5rem; /* Margen cuando active está presente */
}
.contraer{
  color: #ffffff;
  left: 35vw;
  position: relative;
  display: none;
}

.no-results-message{
  display: grid;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.mycard{
  display: flex;

}
.dataupload{
  width: 100%;
}
.modal ,.modal .btn,.modal input,.modal select ,.modal h5{font-size: 22px;}
.contraer{
 display: none;
 color: #000000;
}
.pleft{
  position: relative;
  left: 0;
  width: 100%;
  border: 3px solid #000000;
  border-radius: 0.75rem;
  margin-right: 1rem;
  padding: 0.75rem;
  display: flex

}  
table{
  min-width: 100%;
  width: auto;;
}
.lista{
  width:50%;
}
@media (max-width:1200px), (max-height:1200px){ 
  html{
   font-size: 17px;
  }
  .modal ,.modal .btn,.modal input,.modal select ,.modal h5{font-size: 18px;}

}


@media (max-width:992px), (max-height:992px){ 
  html{
   font-size: 15px;
  }
  .modal ,.modal .btn,.modal input,.modal select ,.modal h5{font-size: 16px;}

}

@media (max-width:768px), (max-height:768px){ 
  html{
   font-size: 12px;
  }
  .modal ,.modal .btn,.modal input,.modal select ,.modal h5{font-size: 16px;}

}
@media (max-width:576px), (max-height:576px){ 
 html{
  font-size: 8px;
 }
 .modal ,.modal .btn,.modal input,.modal select ,.modal h5{font-size: 16px;}
 .contraer{
  display: inline;
  color: #000000;
 }
 .msidebar {
  display: none;
  font-size: 2rem;
  width:calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  left: 100%;
  position: relative;
  margin:1rem;
  transition: width 0.7s;
  overflow: auto;
}
.msidebar-links li ul {
  display: none;
  padding:0;
  margin: 0;
  border-left:0;
  position: relative;
  left: 10%;
  top: 0%;
  width: 90%;
} 
.body-container {
  margin: 1rem;
}
.active-sidebar {
  left: 0;
  display: block;
}
.mtopbar,.logotipo{
  font-size: 2rem;
}

.active-msidebar-links li a span {
  display:inline; /* Ajuste del padding cuando active está presente */
}
.active-msidebar-links li a i {
  min-width: 3.5em; /* Ajuste del padding cuando active está presente */
}
.active-body-container {
  transition: 1s;
  display: none;
  left: 100%; /* Margen cuando active está presente */
}


/* Contenido principal */
.content, .card {
  min-height: calc(100vh - 14.5rem); /* Toma todo el espacio disponible - el tamaño y margen de topbar,el margen de body, y el tamaño del fotter*/
}

.footer {
  height: 4rem;
  padding: 1rem;
  text-align: center;
}
}