/*oculta elementos*/
html{
  font-size: 9.5px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2rem;
}
:root{
--paginaactiva: #037E8C;
--paginas:#044a52;
/*tamaño barras*/
--wsedb:25rem;
/* variables barras*/
--fondo:#000000;
--letra:#ffffff;
--letrar:#000000;
--fondor:#ffffff;
/* fondos genenrales */
--fondocla:#ffffff;
--textoclaro:#000000;
--textoobscuro:#ffffff;
--fondoobs:#252525;
}
.boton1, .boton2{
  background-color:#6c757d ;
  border-radius: 1rem;
  padding: 0.5rem;
  padding-right: 1.5rem;
  border: 1px solid #000000;
} 
.brojo{
  background-color: #ff0000;
}
.icono,.icono2,.icono3 {
  padding: 0;
  margin: 0;
}
.icono img{
  width:3rem;
  height: 3rem;
}
.icono2 img,.icono3{
  width:2.5rem;
  height: 3rem;
}
section{
  position: relative;
  height: 100%;
}
.hidden{
    display: none !important;
  }
.misearch{
  width: 65rem;
  height: 6rem;
  border-radius: 15px;
  border: 2px solid rgb(0, 0, 0);
}
/* se encarga de los estilos de la paginacion*/
.pagina,.paginad,.paginaactive {
    margin: 0px 1px;
    min-width: 5rem;
    height: 4rem;
    color: #fff;
    background-color: var(--paginas);
    border: none;
   }
.pagina {
  cursor: pointer;}
.pagina:hover,.paginaactive {
    background: var(--paginaactiva);}
.elementosporpagina div{
  display: inline;
}
.elementosporpagina select{
  width: 5rem; 
  height: 3rem;
}
.viewelements{
  margin-top: 20px;
}
.mimagen{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* se encarga de las pantallas de carga*/
.spinnerp {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }}
/* ajusta la altura y en donde se centran los modales*/
.logos{
  display: flex;
  justify-content: center;
  align-items: center; }
.modal-content {
  max-height: 92vh;
  width: auto;
  margin: auto;}
.modal-body {
  max-height: 80vh; 
  overflow-y: auto; }
.modal-header{
  justify-content: space-between;
}
.viewfile{
  height: 90vh;
  max-height: none;
  width: 75rem;
  overflow: hidden;
  --bs-modal-width: none;
}
.ajustarmodal{
  --bs-modal-width: none;
}
.viewfile iframe{
  width: 100%;
  height: 100%;
}

.container-fluid{
  padding-left: 0px !important;
  padding-right: 0px !important;}
/* Barrasuperior */
.mtopbar {
  border-radius: 10px;
  background-color: var(--fondo);
  color:var(--letra);
  width: 100%;
  height: 7rem;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}
.mtopbar nav{
  position: absolute;
  width: 100%;
}
.mtopbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mtopbar ul li{
  display: inline-flex;

}

.mtopbar ul li a{
  padding: 1.5rem;
  margin: 1.5rem;
  color: var(--letra);
}
 .mtopbar .topbar-center{
  align-items: center;
  justify-content: center;
  flex-grow: 1;
 }

/* Estilos generales para la barra lateral */
.msidebar {
  background-color: var(--fondo);
  width: var(--wsedb);
  height: calc(100% - 4rem);
  border-radius: 15px;
  position: fixed;
  margin: 2rem;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: width 0.7s;
}


.logotipo{
  display:flex;
  height: 7rem;
  color: #000000;
  list-style: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.logotipo a{
  color: #000000;
}
.logoimg{
  height: 7rem;
}
.msidebar-links {
  list-style: none;
  padding: 1rem;
  margin: 0;
}
.msidebar-links li {
  width: 100%;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  color: var(--letra);
}
.msidebar-links li a{
  display: flex;
  align-items: center;
  min-height: 7rem;
  width: calc(100% - 4rem);
  text-decoration: none;
}
.msidebar-links li a i{
  display: flex; 
  align-items:center;
  justify-content: center;
  min-width: 8rem;
  height: 2rem;
}
.msidebar-links li:hover {
  background-color: var(--fondor);
  color:var(--letrar);
  transition: background-color 1s,color 1s;
}
/* Menú desplegable */
.mdropdown-menu,.msubdropdown-menu {
  display: none;
  list-style: none;
  background-color: var(--fondo);
  border-radius: 10px;
  padding:2px;
  margin: 0px;
  position: absolute;
  left: 100%;
  top: 0%;
  width: auto;
}
.mdropdown .msubdropdown-menu {
  top: 0%;
  min-width: 180px;
}
.msidebar-links li:hover > .mdropdown-menu,
.msubdropdown:hover > .msubdropdown-menu {
  display: inline-block;
}
.mdropdown-menu li a,
.msubdropdown-menu li a{
  color:var(--letra);
  text-decoration: none;
}
.mdropdown-menu li:hover, .msubdropdown-menu li:hover {
  background-color: var(--fondor);
}
.mdropdown-menu li a:hover, .msubdropdown-menu li a:hover {
  color: var(--letrar);
}
/*footer*/
.body-container {
  display: flex;
  flex-direction: column;
  transition: 0.7s;
  margin: 10px;
  margin-left:calc(var(--wsedb) + 3rem);
  overflow-x: hidden;
  overflow-y: hidden;
}
.busqueda input{
  height: 40px;
  width: 300px;
}
/* Contenido principal */
.content, .card {
  min-height: calc(100vh - 136px); /* Toma todo el espacio disponible */
}
.encabezado select{
  width: 200px;
  height: 40px;}  
/* Estilos del footer */
.footer {
  min-height: 50px;
  max-height: 50px; ;
  padding: 10px;
  text-align: center;
}
.mitabla{
  margin-top: 10px;
  overflow-x: auto !important;
 }
tr td {
  height: 45px;
   /* Color de fondo alternado */
}

td,th,tr{
  border: 1px var(--textoobscuro) solid; 
}
.Datatable-content{
  display: inline-block;
  padding:5px ;
}
.Datatable-content-button,.Datatable-content-button2{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  max-width: 75px;
}
.Datatable-content-button2{
max-width: 110px;
min-width: 70px;
}

 .carga{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 }

 .active-sidebar {
  transition: 1s;
  width: 50px;
}

.active-msidebar-links li a {
  padding: 0px; /* Ajuste del padding cuando active está presente */
  margin: 5px;
}
.active-msidebar-links li a span {
  display: none; /* Ajuste del padding cuando active está presente */
}
.active-body-container {
  transition: 1s;
  margin-left: 70px; /* Margen cuando active está presente */
}
.contraer{
  color: #ffffff;
  left: 35vw;
  position: relative;
  display: none;
}

.no-results-message{
  display: grid;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.mycard{
  display: flex;
  flex-direction: column;
}


@media (max-width:750px){ 
  :root{
    --paginaactiva: #037E8C;
    --wsedb:200px;
    --msedb:10px;
    --fondo:#151515;
    --fondos1:#1c1c1c;
    --fondos2:#202020;
    --letra:#ffffff;
    --letrar:#000000;
    --fondor:#ffffff;
    }
.superior{
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px;
}
.encabezado{
  display: flex;
  justify-content: center;
  align-items: center;
}
.busqueda input, .encabezado select{
  width: 100%;
}
.busqueda input{
  border-radius: 15px;
}
.msidebar {
  width: calc(100vw - 4px);
  transition: 2s;
  margin: 2px;
  left: -100vw;
  height: calc(100vh - 4px);
  background-color:var(--fondo);
  overflow-y: auto;
}
.mtopbar{
  margin:2px;
  width: calc(100vw - 4px);
}
.msubdropdown-menu,.mdropdown-menu{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--fondos1)
}
.mdropdown .msubdropdown-menu{
  background-color: var(--fondos2)
}

.msidebar-links .msubdropdown-menu li{
  margin-bottom: 0px;
}
.body-container {
  position: relative;
  transition: 2s;
  margin: 0;
  left: 0;
}
.viewfile{
  height: 90vh;
  max-height: none;
  width: 95vw;
  overflow: hidden;
  --bs-modal-width: none;
}
.active-sidebar {
left:0 ;
}
.contraer{
  display: inline;
}
.active-msidebar-links li a {
  padding: 0px; /* Ajuste del padding cuando active está presente */
  margin: 5px;
}
.active-msidebar-links li a span {
  display: inline; /* Ajuste del padding cuando active está presente */
}
.active-body-container {
  transition: 2s;
  left: 100vw; /* Margen cuando active está presente */
}
.msubdropdown-menu li a{
margin-left: 50px;
}
.mdropdown-menu li a{
margin-left: 50px;
}
.mdropdown .msubdropdown-menu li a{
margin-left: 100px;
}
.msidebar-links li:hover {
  background-color: var(--fondos1);
  color: #ffffff !important;
  margin-bottom: 0;
  transition: background-color 1s, color 1s;
}
.msidebar-links .msubdropdown li:hover , .msidebar-links .mdropdown li:hover {
  background-color: var(--fondos2);
  transition: background-color 1s, color 1s;
}
.msidebar-links .mdropdown .msubdropdown li:hover {
  background-color: var(--fondor);
  color: #ffffff !important;
  margin-bottom: 0;
  transition: background-color 1s, color 1s;
}
.mdropdown-menu li a:hover, .msubdropdown-menu li a:hover {
  color: #ffffff;

}

}




