
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/*estilos select2*/
.select2-dropdown{
  background-color:var(--fondos2) !important;
  color: var(--letrasbody) !important;
}

.select2-selection{
  background-color:var(--fondobody) !important;
}
.select2-container .select2-selection--single,.select2-container .select2-selection--single {
  height: 2.5rem !important;
}

textarea.select2-search__field {
  height: 1.2rem !important
}
.select2{
  width: 100% !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {

  height: 100%;
  padding: 0.375rem 0.75rem !important;
}
.mismall .select2-container--default .select2-selection--single .select2-selection__rendered{
  padding: 0 !important;
  padding-top: 0.75rem !important;
  padding-left: 0.25rem !important;
  display: flex;
    align-items: center;
}
.select2-selection__rendered{
 
  color: var(--letrasbody) !important;
}
.select2-container--default .select2-selection--single {
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
  border-radius: var(--bs-border-radius) !important;
}
/**/
.btn-sm{
  height: 2rem;
  width: 2rem;
  font-size: 1.2rem;
  border-radius:0.5rem;
}
.vanigrow{
  flex-grow: 1;
}
.vaniflex{
  display: flex;
}
:root{
--paginaactiva: #037E8C;
--paginas:#044a52;
/*tamaño barras*/
/* variables barras*/
--fondo:#000000;
--letra:#ffffff;
--letrar:#000000;
--fondor:#ffffff;
--fondos2:#212529;
--fondobody:#212529;
--letrasbody:#DEE2E6;
/* fondos genenrales */
--fondocla:#ffffff;
--textoclaro:#000000;
--textoobscuro:#ffffff;
--fondoobs:#252525;
}
.boton1, .boton2{
  background-color:#6c757d ;
  border-radius: 0.5rem;
  padding: 0.25rem;
  padding-right: 0.75rem;
  border: 1px solid #000000;
} 
.brojo{
  background-color: #ff0000;
}
.icono,.icono2,.icono3 {
  padding: 0;
  margin: 0;
}
.icono img{
  width :2rem;
  height: 2rem;
}
.icono2 img,.icono3{
  width:  2rem;
  height: 2rem;
}
section{
  position: relative;
  height: 100%;
}
.hidden{
    display: none !important;
  }
.misearch{
  width: 20rem;
  height: 3rem;
  padding-left: 1.75rem;
  border-radius: .75rem;
  border: 2px solid rgb(0, 0, 0);
}
/* se encarga de los estilos de la paginacion*/
.pagina,.paginad,.paginaactive {
    margin: 0px 1px;
    min-width: 2.5rem;
    height: 2rem;
    color: #fff;
    background-color: var(--paginas);
    border: none;
   }
.pagina {
  cursor: pointer;}
.pagina:hover,.paginaactive {
    background: var(--paginaactiva);}
.elementosporpagina div{
  display: inline;
}
.elementosporpagina select{ 
  height: 2rem;
}
.viewelements{
  margin-top: 1rem;
}
.mimagen{
  max-width: 100%;
  max-height: 25em;
  min-width: 35%;
  min-height: 10em;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
/* se encarga de las pantallas de carga*/
.spinnerp {
    border: 0.5rem solid #f3f3f3; /* Light grey */
    border-top: 0.5rem solid #3498db; /* Blue */
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation: spin 1s linear infinite;
    }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }}
/* ajusta la altura y en donde se centran los modales*/
.logos{
  display: flex;
  justify-content: center;
  align-items: center; }
.modal-content {
  max-height: 92vh;
  width: auto;
  margin: auto;}
.modal-body {
  max-height: 80vh; 
  overflow-y: auto; }
.modal-header{
  justify-content: space-between;
}
.viewfile{
  height: 90vh;
  max-height: none;
  width: 37.5rem;
  overflow: hidden;
  --bs-modal-width: none;
}
.ajustarmodal{
  --bs-modal-width: none;
}
.viewfile iframe{
  width: 100%;
  height: 100%;
}
.container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;}


/* Contenido principal */

.encabezado select{
  width: 11rem;
  height: 3rem;}  
/* Estilos del footer */
.footer {
  height: 4rem;
  padding: 1rem;
  text-align: center;
}
.mitabla{
  margin-top: 1rem;
  overflow-x: auto !important;
 }

tr td {
  height: 2rem;
   /* Color de fondo alternado */
}

td,th,tr{
  border: 0.1rem var(--textoobscuro) solid; 
}
.button_options{
 width: 5.3rem;/* la suma de los icono mas el pading del div mas el pading del td mas un poco de separacion*/
}
.colum_piezas{
  width: 2.5rem;
}
.button_options2{
width: 7.5rem;/* la suma de los icono mas el pading del div mas el pading del td mas un poco de separacion*/
 }
.Datatable-content{
  display: inline-block;
  padding:0.25rem ;
}
.Datatable-content-button{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  padding: 0.25rem;
}

.mismall small{
  position: absolute;
  font-size: 0.5rem;
  padding: 0.25rem;
  z-index: 1000;
}
 .mismall label{
  padding-top: 0.75rem;
  padding-left: 0.25rem;
  min-width: 3.3rem;
}
.mismall{
border: 1px solid #000000;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: none; 
  position: absolute;
  top: 50%;
  right: 1px;
  width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  min-width: 12rem;
}
 .carga{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 }

.dataconcept{
  display: flex;
flex-wrap: wrap;
}
.no-results-message{
  display: grid;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.mycard{
  display: flex;

}
.vaniwidth{
  width: 100%;
}
.vaniheight{
  height: 100%;
}

.modal ,.modal .btn,.modal input,.modal select ,.modal h5{font-size: clamp(6px, 0.01 * 100vw + 4px, 22px);}

.pleft{
  position: relative;
  left: 0;
  width: 100%;
  border: 3px solid #000000;
  border-radius: 0.75rem;
  margin-right: 1rem;
  padding: 0.75rem;
  display: flex

}
.pleft label{
  display: block;
}
.pleft .form-control{
  -webkit-appearance:auto; 
} 
.select2-container--default .select2-selection--single:focus{
  border-color:#86b7fe  !important;
  outline: 0;
  box-shadow:0 0 0 .25rem rgba(13, 110, 253, 0.25)
} 
.select2-container--default .select2-results__option--selected {
  background-color: #585858 !important;
}
table{
  min-width: 100%;
  width: auto;;
}
.lista{
  width:50%;
}
html {
  font-size: clamp(6px, 0.01 * 100vw + 2px, 22px);}

  .modal-dialog{
max-width: 45%;
  }
  @media screen and (max-width:576px){
    .modal-dialog{
      max-width: 100%;
    }
    .modal-content{
      width: 90%;
    }
  }
  .iconoin{
    display: flex;
    align-items: center;
  
  }
  .iconoin i{
    position: absolute;
    padding-left: 0.5rem;
    z-index: 50;
  }
  .vaniw25{
    width: 25%;
  }

  .vaniw15{
    width: 15%;
  }
  
  .vaniw20{
    width: 20%;
  }
  .vaniw10{
    width: 10%;
  }
  .zdlins2 {
    position: absolute;

  }
  
.canvasdetalles {
    width: 100%; /* Tamaño visual adaptable */
    height: 20rem; /* Altura visual fija */
    border: 1px solid black;
    margin-block: 1rem;
}
.canvasfirma{
  border: 1px solid black;
  height: 12rem;
}
.canvasfirma{
  width: 100%;
  height: 10rem;
  margin-bottom: 1rem;
}

.selectconlabel,.canvasconlabel{
  display: flex;
  flex-wrap: nowrap !important;
  flex-direction: column;
}

.selectconlabel label, .select2conlabel label, .canvasconlabel label ,.checkboxconlabel label, .textareaconlabel label{
  font-size: 0.8rem;
}
.checkboxconlabel{
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}
.textareaconlabel{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap !important;
  width: 47%;
}
.textareaconlabel textarea{
  min-height: 10rem;
}

.checkboxconlabel input{
  margin-right: 0.2rem;
}
.spanrelleno{
  font-size: 0.5rem;
  background-color: #037E8C;
  color: #DEE2E6;
  padding: 0.15rem;
  border-radius: 0.25rem;
  font-weight: bold;
}
.condiciones{
  width:9rem;
  height: 2rem;
  border-radius:0.5rem;
  margin-bottom: 0.25rem;}

.subdivicion{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.btnin{
  position: absolute;
  left: 0;
  width: 1.8rem;
  height: 2.5rem;
  margin: 0.1rem;
  border: 0;
  background-color: transparent;
  border-right: 1px solid #99999980;
}

.select2conlabel .select2-selection__rendered{
  margin-left: 2rem;
}
.select2conlabel .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 0 !important; 
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 1.5rem !important; 
}
.detallesdesplegables{
  position:absolute;
  background-color: var(--fondos2);
  border-radius: 0.5rem;
  padding-left: 0;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  z-index: 1;

  justify-content: center;
  border: 2px solid var(--navtpb);
}
.detallesdesplegables li{
  list-style: none;
  display: flex;
  justify-content: center;
}
.detallesdesplegables li a{
  text-decoration: none;
  color: var(--textoclaro);
}
.detallesdesplegables li a:hover{
  font-weight: bold;
}